.containerMenu {
  .btnOpenMenu {
    width: 38px;

    img {
      width: 100%;
    }
  }

  ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 0px;
    height: 100dvh;
    overflow: hidden;
    z-index: 1;
  }
  .showMenu {
    width: 250px;
    background-color: var(--shadow19);
  }
}
